body {
    display: block;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Lucida Console', monospace;
    margin: auto;
    height: 100vh;
    max-width: 800px;
    text-shadow: 1px 1px 4px black;
}

h1 {
    text-transform: uppercase;
}