body {
    text-transform: uppercase;
    font-family: "Gochi Hand", cursive;
    background: black;
    background: linear-gradient(0deg,rgba(38, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    align-items: center;
}

h1, h2 {
    font-weight: 400;
}

#container {
    max-width: 1200px;
    margin: auto;
    margin: 0 20px;
}

/* HEADER */

#banner {
    height: 250px;
    background-image: url("images/banner.svg");
    background-size: cover;
    background-position: 75% 10%;
    background-repeat: no-repeat;
    background-position-y: 35px;
    transition: background-position-y 1s ease;
    animation: shimmy 4s ease infinite;
    cursor: pointer;
}

#banner:hover, #banner:active {
    background-position-y: 0;
} 

@keyframes shimmy {
    0% {
        background-position-x: 77%;
    }
    50% {
        background-position-x: 83%;
    }
    100% {
        background-position-x: 77%;
    }
} 

header {
    font-family: "New Rocker", system-ui;
    color: white;
}

#text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#text h1, #text h2 {
    font-size: 20px;
}

#text h1 span {
    animation: bounce 0.5s ease infinite alternate;
    display: inline-block;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

/* MAIN */

main {
    gap: 15px;
    justify-content: center;
}

section {
    text-align: center;
}

section h2 {
    font-family: "Pirata One", system-ui;
    color: red;
    background-color: black;
    border: 3px solid red;
    display: block;
    font-size: 24px;
    filter: drop-shadow(5px 5px 0 red);
    padding: 10px;
    transition: letter-spacing 0.5s ease;
}

section h2:hover, section h2:active {
    letter-spacing: 3px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li a {
    display: block;
    color: black;
    background-color: red;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    filter: drop-shadow(5px 5px 0 #260000);
    border: 2px solid red;
    transition: background-color 0.3s ease, color 0.3s ease;
}

section ul li a:hover, section ul li a:active {
    background-color: black;
    color: red;
}

/* FOOTER */

footer {
    text-align: center;
    color: white;
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover, footer a:active {
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    main {
        display: flex;
        min-width: 300px;
        max-width: 1200px;
    }
    section {
        flex: 1;
    }
    #banner {
        background-image: url("images/banner.svg");
        background-size: cover;
        background-position: 75% 10%;
        background-repeat: no-repeat;
        background-position-y: 35px;
        transition: background-position-y 1s ease;
        animation: shimmy 4s ease infinite;
    }
    #text {
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: left;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    main { 
        display: grid;
        grid-template-columns: auto auto;
    }

    #text {
        flex-direction: column;
        text-align: center;
    }
}