/* TO CHECK: STACKED SECTIONS MADLIB MARKUP CODE... 
z-index
also slide transitions */

body {
    background-image: url(images/form1bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    display: flex;
    align-items: center;
}

h1, h2, h3 {
    font-family: "Knewave", system-ui;
    padding: 0;
    margin: 0;
}

input {
    font-family: "Shadows Into Light Two", cursive;
    border: 0;
    border-style: solid;
}

button {
    background-color: transparent;
    border: 0;
}

/* todo button image */

#final-madlib {
    /* visibility: hidden; */
}

#lyrics {
    font-family: "Metal Mania", system-ui;
    text-align: center;
}

#notebook {
    border-top: 20px solid black;
    border-right: 20px solid black;
    border-bottom: 20px solid black;
    border-radius: 0 20px 20px 0;
    background: rgb(255, 229, 206);
    padding: 30px;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
}

