img {
    display: block;
}

img, svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

svg {
    opacity: 0;
}

#frame svg rect:hover {
    cursor: pointer;
}

body {
    background-color: #0F0F17;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

#frame {
    background-image: url(images/frame.svg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 1200px;
    height: 750px;
    border-radius: 20px;
    aspect-ratio: 1200/750;
    position: relative;
}

#container {
    background-color: #556BC1;
    position: absolute;
    display: inline-block;
    cursor: crosshair;
    top: 115px;
    left: 164px;
    width: 974px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

#frame {
    transition: border 1s ease-in;
    border: 0px solid #556BC1;
}

#frame:hover, #frame:active {
    border: 3px solid #556BC1;
}

#container img {
    object-fit: cover;
}

article {
    position: fixed; 
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1; 
    justify-content: center;
    align-items: center;
}

article.active {
    z-index: 100;
    display: flex;
}

article .container {
    background-color: blanchedalmond;
    width: 500px;
    border-radius: 10px;
}

.content img {
    position: relative;
    max-width: 250px;
    flex: 1;
    border-radius: 0 0 0 5px;
}

article h3 {
    margin: 0;
    
    padding: 10px 0 10px 10px;
    color: white;
    font-family: "Sarpanch", sans-serif;
}

.window-top {
    width: 100%;
    background-color: #222431;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
}

.content p {
    flex: 1;
    max-width: 40%;
    font-family: "Source Code Pro", monospace;
}

.content {
    display: flex;
    gap: 20px
}

button {
    background-image: url('images/x.svg');
    background-size: cover;
    background-color: transparent;
    border: 0;
    width: 25px;
    height: 25px;
    z-index: 3;
}

button:hover { 
    cursor: pointer;
}

.x {
    margin: 10px;
}